// main: ../style.less

.accordion-item {
    border: none;
}

.accordion-header {

    &:focus {
    border: none;
    }
}

.accordion-button {
    margin-right: .6rem;
    padding: 1.6rem 2.3rem;

    background: #F7F7F7;
    border-radius: 3px !important;

    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    letter-spacing: 0.005em;

    color: #525252;

    @media @desktop-sm {
        padding: 1.6rem 1rem;
    }

    &:focus {
        color: #525252;
        background: #F7F7F7;
    }

    &:not(.collapsed) {
        color: #525252;
        background: #F7F7F7;
    }
}

.accordion-button:after,
.accordion-button:not(.collapsed)::after {
    background: url(../images/Arrow-bottom.svg) no-repeat center;
}

.accordion-input {
    margin-left: 0.4rem;

    width: 1.6rem;
    height: 1.46rem;

    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    letter-spacing: 0.005em;

    color: #525252;

    border: none;
    background: inherit;
}

.accordion-body {
    padding: 0.66rem 0 0;
}