// main: ../style.less

.header {
    padding-top: 2.9rem;

    width: 100%;
    height: 66.6rem;
    
    z-index: 1000;

    background: url(../images/intro-bg.png) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

    overflow: hidden;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}