// main: ../style.less

.header {
    padding-top: 2.9rem;

    width: 100%;
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    &.active {
        background: #242424;

        @media @tablet {
            background: @white;
        }
    }
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__signin {

    .btn {
        @media @tablet {
            display: none;
        } 
    }

    .ml-15 {
        @media @mobile-sm {
            margin-left: 0;
        } 
    }
}